<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onetwofour">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Onetwofour">
        <activity android:name=".Activities.ThemBaiNgheActivity"></activity>
        <activity android:name=".Activities.ThemMauCau2Activity" />
        <activity android:name=".Activities.ThemMauCauActivity" />
        <activity android:name=".Activities.ThemTuVung2Activity" />
        <activity android:name=".Activities.ThemTuVungActivity" />
        <activity android:name=".Activities.ThemChuDeActivity" />
        <activity android:name=".DangNhapActivity" />
        <activity android:name=".Activities.HardModeActivity" />
        <activity android:name=".Activities.MediumModeActivity" />
        <activity android:name=".Activities.EasyModeActivity" />
        <activity android:name=".Activities.ChonMucDoActivity" />
        <activity android:name=".Activities.LoadingTrochoi2Activity" />
        <activity android:name=".Activities.MyVocabularyActivity" />
        <activity android:name=".Activities.PlayQuizActivity" />
        <activity android:name=".Activities.GameQuizActivity" />
        <activity android:name=".Activities.DevActivity" />
        <activity android:name=".Activities.BaiDocActivity" />
        <activity android:name=".Activities.BaiNgheScriptActivity" />
        <activity android:name=".Activities.BaiNgheActivity" />
        <activity android:name=".Activities.TuVung_MauCau_Activity" />
        <activity android:name=".Activities.TroChoiActivity" />
        <activity android:name=".Activities.LuyenDocActivity" />
        <activity android:name=".Activities.LuyenNgheActivity" />
        <activity android:name=".Activities.NguPhapActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>